@import "compass";
@import "bootstrap";

.btnhoc{text-align:center; text-transform:uppercase; display:block; margin-top:20px;}

body{
	@include container-fixed();

	@media(min-width: $screen-sm-min){
		width: $container-sm;
	}
	@media(min-width: $screen-md-min){
		width: $container-md;
	}
	@media(min-width: $screen-lg-min){
		width: $container-lg;
	}
	background:url('../images/seamless_paper_texture.png')repeat top left;
}
.wrapper{
	@include make-row();
	background:#fff;
}
.treatments {padding:0}
.treatments li{list-style-type:none; padding: 5px 0}
.navbar{border:0; border-radius:0}
.top{
	@include make-xs-column(12);
	padding: 25px 0;
	.site-logo{
		@include make-sm-column(3);
	}
	.contact{
		@include make-sm-column(9);
	}
	.btnhealthfund
	{
		@include button-variant(#fff, $brand-info, $btn-info-color);
		@include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base); 
		&:hover{
			text-decoration:none;
		}
	}
}

.leftcoldiv{
	.btnsubmit{
		@include button-variant(#fff, $brand-danger, $btn-danger-color);
		@include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
		@extend .btnhoc;
	}
}

.site-content{
	@include make-xs-column(12);
	.featured{
		@include make-sm-column(3);
	}
	.content{
		@include make-sm-column(9);
		.service{
			@include make-sm-column(6);
		}
	}
}

.site-footer{
	@include make-xs-column(12);
	color:white;
	background-color: $brand-info;
	padding: $padding-large-horizontal;
	.city{
		@include make-sm-column(6);
	//	@include make-sm-column-offset(4);
	}
	.fairfield{
		@include make-sm-column(6);
	}
}
