@import "compass";
@import "bootstrap";

body{
	@include container-fixed();

	@media(min-width: $screen-sm-min){
		width: $container-sm;
	}
	@media(min-width: $screen-md-min){
		width: $container-md;
	}
	@media(min-width: $screen-lg-min){
		width: $container-lg;
	}
}

.site-header{
	@include make-row();
	.site-logo{
		@include make-sm-column(3);
	}
	.contact{
		@include make-sm-column(9);
	}
	.btnhealthfund
	{
		@include button-variant(#cece19, #000000, #2dbe27);
		@include button-size(6px, 12px, 14px, 1.4, 4px); 
	}
}

.site-content{
	@include make-row();
	.featured{
		@include make-sm-column(3);
	}
	.content{
		@include make-sm-column(9);
	}
}

.site-footer{
	@include make-row();
	color:white;
	background-color: $brand-info;
	padding: $padding-large-horizontal;
	.city{
		@include make-sm-column(6);
	//	@include make-sm-column-offset(4);
	}
	.fairfield{
		@include make-sm-column(6);
	}
}
