@import "compass";
@import "bootstrap";

body{
	@include container-fixed();

	@media(min-width: $screen-sm-min){
		width: $container-sm;
	}
	@media(min-width: $screen-md-min){
		width: $container-md;
	}
	@media(min-width: $screen-lg-min){
		width: $container-lg;
	}
}

.site-header{
	@include make-row();
	.site-logo{
		@include make-sm-column(3);
		background-color:blue;
	}
	.contact{
		@include make-sm-column(9);
		background-color:red;
	}
	.subscribe
	{
		color: $btn-primary-color;              
		background-color: $btn-primary-bg;                 
		border: $btn-primary-border;  
	}
}

.site-content{
	@include make-row();
	.featured{
		@include make-sm-column(12);
		background-color:grep;
	}
}

.site-widgets{
	@include make-row();
	.widget{
		@include make-sm-column(4);
		background-color:green;
		border: 3px solid #000;
	}
}

.site-footer{
	@include make-row();
	color:white;
	a{
		color: inherit;
	}

	.site-info{
		@include make-sm-column(4);
		@include make-sm-column-offset(4);
	}
}
